{
  "extends": "eslint-config-airbnb-base",
  "rules": {
    "prefer-destructuring": ["off"],
    "no-mixed-operators": ["off"],
    "import/prefer-default-export": ["off"],
    "function-paren-newline": ["off"]
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint"
}