@import "variables";

.dropdown {
  position: relative;

  .button {
    border-radius: 0 4px 4px 0;
    width: 70px;
  }

  .items-list {
    margin-top: 5px;
    position: absolute;
    color: $dark-gray;
    border: 1px solid $light-gray;
    border-radius: 3px;
    background: $white;

    & > div {
      padding: 2px 10px;
      border-bottom: 1px solid $light-gray;
      cursor: pointer;

      &:hover {
        background: $blue;
        color: $white;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}