@import "variables.scss";

.scale-controls {
  display: flex;
  border: 1px solid $gray;
  height: 28px;
  margin: 0 10px;
  border-radius: 14px;

  .scale-button {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:first-child {
      border-right: 1px solid $gray;
    }

    & > svg {
      width: 14px;
    }
  }
}